.navsec{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px
}
.navsec ol{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;

}
.navsec ol li a{
    text-decoration: none;
    font-size: 15px;
    color: black;

}
.navsec ol li a:hover{
    color: rgb(199, 143, 1);

}
.navsec ol li a:active{
    text-decoration: underline;
    color: rgb(199, 143, 1);
    

}